<!--View for displaying all products within a category-->

<h1 align="center"><%= @category.category %> Products:</h1>
<div align="center">
  <%= will_paginate @category_products %>
</div>
<% @category_products.each do |product| %>
  <div class='row'>
    <div class='col-xs-8 col-xs-offset-2'>
      <div class='well well-lg'>
        <div class='category-title'>
          <%= link_to product.name, product_path(product) %>
        </div>
        
      </div>
    </div>
  </div>
<% end %>
<div align="center">
  <%= will_paginate @category_products %>
</div>
<div align="center">
  [ <%= link_to 'Back to Categories', root_path %> ]
</div>
